@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
  background: rgb(47,180,97);
  background: radial-gradient(circle, rgba(47,180,97,1) 25%, rgba(35,158,68,1) 50%, rgba(45,170,78,1) 100%);
  background-size: 20px 20px;
  cursor: url(assets/minifighand.png), auto;
}

header {
  height: 19vh;
  width: 81vw;
  position: fixed;
  left: 9.3%;
  top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.W {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px;
  width: 100px;
}
#w1 {
  height: 98px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
#w2 {
  height: 18px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
.H {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100px;
}
#h1 {
  height: 98px;
  width: 18px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
#h2 {
  height: 18px;
  width: 38px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
.A {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 100px;
}
#a1 {
  height: 18px;
  width: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center center no-repeat;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.Amiddle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#a2 {
  height: 38px;
  width: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center top;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
#a3 {
  height: 18px;
  width: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.Abottom {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#a4 {
  height: 38px;
  width: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center top;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.C {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-start;
  height: 100px;
  width: 83px;
}
#c1 {
  height: 18px;
  width: 58px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
#c2 {
  height: 62px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
.K {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100px;
}
#k1 {
  height: 98px;
  width: 18px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
#k2 {
  height: 18px;
  width: 18px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
.klegs {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 40px;
  justify-content: center;
  align-content: center;
  align-items: center;

}
.klegtop {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: space-between;
}
.klegbottom {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-content: flex-end;
}
.Dash {
  height: 100px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#dash {
  height: 18px;
  width: 38px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
#a21 {
  height: 18px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center no-repeat;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}

#a22 {
  height: 38px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center top;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
#a23 {
  height: 18px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}

#a24 {
  height: 38px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center top;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
#dash2 {
  height: 18px;
  width: 38px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
.L {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  width: 100px;
}
#l1 {
  height: 98px;
  width: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
#l2 {
  height: 18px;
  width: 38px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.E {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px;
  width: 80px;
}
#e1 {
  height: 98px;
  width: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center top;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
.Earms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}
#e2 {
  width: 38px;
  height: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
#e3 {
  width: 18px;
  height: 18px;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
}
.G {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;
    height: 100px;
    width: 100px;
}
#g1 {
  height: 98px;
  width: 18px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
.Garms {
  height: 100px;
  width: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#g2 {
  height: 18px;
  width: 38px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
#g3 {
  height: 20px;
  width: 38px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) right center no-repeat;
  background-size: 20px 20px;
}
#g4 {
  height: 18px;
  width: 38px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
#g5 {
  width: 18px;
  height: 58px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
}
.O {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
#o1 {
  width: 58px;
  height: 18px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}

.Omiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
}
#o2 {
  width: 18px;
  height: 58px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) center center;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.game {
  position: fixed;
  top: 25.5%;
  left: 28.1%;
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.topRow {
  width: 800px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.bottomRow {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.brick {
  width: 200px;
  height: 100px;
}
.brick1, .brick5 {
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(217,126,0,1);
}
.brick2, .brick6 {
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left center;
  background-size: 20px 20px;
  border: solid 1px rgba(179, 39, 31, 1);
 }
 .brick3, .brick4{
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) center left;
  background-size: 20px 20px;
  border: solid 1px rgba(28,79,145,1);
 }
 .brick:after {
  display: block;
  background-size: contain;
  position: absolute;
  z-index: +1;
  bottom: -30px;
}
.minifig {
  background: bottom center no-repeat;
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
  transition:all 0.2s;
  z-index: -1;
}
.mf1 {
  background: url('assets/batman.png') bottom center no-repeat;
  background-size: 50%;
}
.mf2 {
  background: url('assets/legoman.png') bottom center no-repeat;
  background-size: 50%;
}
.mf3 {
  background: url('assets/legogirl.png') bottom center no-repeat;
  background-size: 50%;
}
.mf4 {
  background: url('assets/legowoman.png') bottom center no-repeat;
  background-size: 50%;
}
.mf5 {
  background: url('assets/legoboy.png') bottom center no-repeat;
  background-size: 50%;
}
.mf6 {
  background: url('assets/spiderman.png') bottom center no-repeat;
  background-size: 50%;
}

.brick.up .minifig {
  top: -100%;
  opacity: 1;
  z-index: +1;
}
button {
  position: fixed;
  left: 21px;
  bottom: 70px;
  width: 300px;
  height: 100px;
  background: rgb(242,48,38);
  background: radial-gradient(circle, rgba(252, 59, 48, 1) 25%, rgba(179, 39, 31, 1) 50%, rgba(242,48,38,1) 100%) left top;
  background-size: 20px 20px;
  overflow: visible;
  border: none;
  outline: none;
}
#start {
  font-size: 65px;
  background: rgb(47,180,97);
  background: radial-gradient(circle, rgba(47,180,97,1) 25%, rgba(35,158,68,1) 50%, rgba(45,170,78,1) 100%) left top;
  background-size: 20px 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin-top: 17px;
  margin-left: 13px;
  letter-spacing: 5.2px;
  line-height: 80px;
}
#start:hover {
  font-size: 63px;
}
#start:active {
  font-size: 65px;
}
.score {
  position: fixed;
  left: 38px;
  top: 80px;
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
  background: rgb(27,151,237);
  background: radial-gradient(circle, rgba(27,151,237,1) 25%, rgba(28,79,145,1) 50%, rgba(27,151,237,1) 100%) left top;
  background-size: 20px 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 8%;
  letter-spacing: 8px;
}
.scorenum {
  position: fixed;
  left: 20px;
  top: 260px;
  font-size: 138px;
  line-height: 137px;
  background: rgb(248,196,0);
  background: radial-gradient(circle, rgba(248,196,0,1) 25%, rgba(217,126,0,1) 50%, rgba(248,196,0,1) 100%) top left;
  background-size: 20px 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: 300px;
  height: 120px;
}